{% extends 'layout.html' %}
{% block conteudo %}

<h1 style="color:white;"><center>Pizzas</center></h1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<table border="0" width="100%">
<tr>
<td><h5><p style="color:white;">Pizza Farinheira:</p></h5><img src="/static/carne/01.png"><center><p style="color:white;">15,85€</center></td>
<td><h5><p style="color:white;">Pizza Bitoque:</p></h5><img src="/static/carne/02.png"><center><p style="color:white;">15,85€</center></td><td><h5><p style="color:white;">Pizza Leitão:</p></h5><img src="/static/carne/03.png"><center><p style="color:white;">15,80€</center></td>
<td><h5><p style="color:white;">Pizza Rainha:</p></h5><img src="/static/carne/04.png"><center><p style="color:white;">15,85€</center></td>
</tr>

{% endblock %}
