<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Escola Secundária de Maximinos</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">    </head>
<body>

<div class="navbar">
  <a href="#"> <i class="fas fa-home"></i> Home</a>
  <a href="/sobremesas"> <i class="fas fa-ice-cream"></i> Sobremesas</a>
  <div class="dropdown">
    <button class="dropbtn">Pizzas
     <i class="fas fa-pizza-slice"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Os fãs da Carne</a>
      <a href="#">Os fãs do Mar</a>
      <a href="#">Os fãs do Queijo</a>
    <a href="#"> <i class="fas fa-home"></i> Registo</a>
    </div>
  </div>
</div>

{% block conteudo %}
{% endblock %}


<div class="footer">
    <br><p>Email: telepizzabraga@gmail.com</p>
    <p>Localização: Rua das Alminhas nº8 Sequeira-Braga</p>
    <p>Telefone: 967586391</p>
    <p>Apoio Cliente: 808 200 031</p>
    &copy 2019 Gonçalo Malheiro
</div>

</body>
</html>

