{% extends 'layout.html' %}
{% block conteudo %}
<br>
<h1 style="color:white;"><center>Pizzas</center></h1>

<br>
<br>
<br>
<br>
<br>
<br>
<table border="0" width="100%">
<tr>
<td><h5><p style="color:white;">Pizza Atlântica:</p></h5><img src="/static/mar/01.png"><center><p style="color:white;">15,85€</center></td>
<td><h5><p style="color:white;">Pizza Marítima:</p></h5><img src="/static/mar/02.png"><center><p style="color:white;">15,85€</center></td><td><h5><p style="color:white;">Pizza Especial de Azeitonas:</p></h5><img src="/static/mar/03.png"><center><p style="color:white;">15,85€</center></td>
<td><h5><p style="color:white;">Pizza Tuna:</p></h5><img src="/static/mar/04.png"><center><p style="color:white;">15,85€</center></td>
</tr>

</table>
{% endblock %}

