{% extends 'layout.html' %}
{% block conteudo %}
<br>
<h1 style="color:white;"><center>Pizzas</center></h1>

<br>
<br>
<br>
<br>
<br>
<br>
<table border="0" width="100%">
<tr>
<td><h5><p style="color:white;">Pizza Foormagio:</p></h5><img src="/static/queijo/01.png"><center><p style="color:white;">15,85€</center></td>
<td><h5><p style="color:white;">Pizza Coll Cheese:</p></h5><img src="/static/queijo/02.png"><center><p style="color:white;">15,85€</center></td><td><h5><p style="color:white;">Pizza 4 Queijos:</p></h5><img src="/static/queijo/03.png"><center><p style="color:white;">15,85€</center></td>
<td><h5><p style="color:white;">Pizza Ananás:</p></h5><img src="/static/queijo/04.png"><center><p style="color:white;">15,85€</center></td>
</tr>

</table>
{% endblock %}
