{% extends 'layout.html' %}
{% block conteudo %}
<br>
<h1 style="color:white;"><center>Sobremesas</center></h1>

<br>
<br>
<br>
<br>
<br>
<br>
</table>
<h3><p style="color:white;">Gelatina de Morango:</p></h3>
<table border="0">
<tr>
<td><img src="/static/Sobremesas/01.png"><center><p style="color:white;">1,00€</center></td>
<h3><p style="color:white;">Haagen-Dazs Baunilha Cookies:</p></h3>
<td><img src="/static/Sobremesas/02.png"><center><p style="color:white;">2,70€</center></td>

<td><img src="/static/Sobremesas/03.png"><center><p style="color:white;">2,70€</center></td>
<td><img src="/static/Sobremesas/04.png"><center><p style="color:white;">1,65€</center></td>
</tr>

{% endblock %}




