{% extends 'layout.html' %}
{% block conteudo %}
<br>
<h1 style="color:white;"><center>Sobremesas</center></h1>

<br>
<br>
<br>
<br>
<br>
<br>
<table border="0" width="100%">
<tr>
<td><h5><p style="color:white;">Gelatina de Morango:</p></h5><img src="/static/Sobremesas/01.png"><center><p style="color:white;">1,00€</center></td>
<td><h5><p style="color:white;">Natas 2 Unidades:</p></h5><img src="/static/Sobremesas/02.png"><center><p style="color:white;">2,70€</center></td><td><h5><p style="color:white;">Vulcano Sweet:</p></h5><img src="/static/Sobremesas/03.png"><center><p style="color:white;">2,70€</center></td>
<td><h5><p style="color:white;">Mouse de Chocolate:</p></h5><img src="/static/Sobremesas/04.png"><center><p style="color:white;">1,65€</center></td>
</tr>

</table>
{% endblock %}
